html {
  margin-bottom: 1px;
  /*overflow: -moz-scrollbars-vertical !important;
  overflow-y: scroll; */
}
body { background-color: #646461; background: #fff; color: #333; -webkit-font-smoothing: antialiased;}
p { margin-bottom: 18px; }

#page { margin: 0 auto; width: 980px; padding-top: 50px;}

h2 { font-size: 13px; line-height: 18px; margin-bottom: 0; }

.image-description-detail { float: left; clear: both; width: 100%; margin-bottom: 18px; }
.image-description-detail a {
  margin: 0 10px 10px 0;
  cursor: pointer;
}
.image-description-detail a img { float: left; }
.image-description-detail .rightmost { margin-right: 0; }
