<connectionStrings>
    <add name="NopSqlConnection" connectionString="Data Source=DESKTOP-3D0QEAC\SQLEXPRESS;Initial Catalog=quanjeandepcom_JeansStyle;Integrated Security=False;Persist Security Info=False;User ID=sa;Password=niemvui;MultipleActiveResultSets=True;Connect Timeout=1600" />
  
    <add name="JsSqlConnection" connectionString="Data Source=45.251.114.246,3314;Initial Catalog=JS-Manage;User ID=sa;Password=niemvui" providerName="System.Data.SqlClient" />
  
</connectionStrings>
