<connectionStrings>
    <add name="NopSqlConnection" connectionString="Data Source=DESKTOP-3D0QEAC\SQLEXPRESS;Initial Catalog=quanjeandepcom_JeansStyle;Integrated Security=False;Persist Security Info=False;User ID=sa;Password=niemvui;MultipleActiveResultSets=True;Connect Timeout=600" />
</connectionStrings>
