<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="NopConfig" type="NopSolutions.NopCommerce.BusinessLogic.Configuration.NopConfig, Nop.BusinessLogic" requirePermission="false" />
    <section name="urlrewritingnet" type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;" />
    <add key="UseSSL" value="false" />
    <add key="SharedSSLUrl" value="" />
    <add key="NonSharedSSLUrl" value="" />
    <add key="GoogleMerchantID" value="" />
    <add key="GoogleMerchantKey" value="" />
    <add key="GoogleEnvironment" value="Sandbox" />
    <add key="GoogleAuthenticateCallback" value="True" />
    <add key="FCKeditor:BasePath" value="~/editors/fckeditor/" />
    <add key="FCKeditor:UserFilesPath" value="~/images/" />
    <add key="dependencyResolverTypeName" value="NopSolutions.NopCommerce.BusinessLogic.Infrastructure.UnityDependencyResolver, Nop.BusinessLogic" />
    <add key="SortByCreatedDate" value="true" />
  </appSettings>
  <connectionStrings configSource="ConnectionStrings.config" />
  <urlrewritingnet configSource="UrlRewriting.config" />
  <system.web>
    <httpCookies httpOnlyCookies="true" />
  </system.web>
  <location path="administration/GlobalSettings.aspx">
    <system.web>
      <pages validateRequest="false" />
      <httpRuntime requestValidationMode="2.0" />
    </system.web>
  </location>
  <location path="administration/CategoryDetails.aspx">
    <system.web>
      <pages validateRequest="false" />
      <httpRuntime requestValidationMode="2.0" />
    </system.web>
  </location>
  <location path="administration/ProductDetails.aspx">
    <system.web>
      <pages validateRequest="false" />
      <httpRuntime requestValidationMode="2.0" />
    </system.web>
  </location>
  <location path="administration/SettingDetails.aspx">
    <system.web>
      <pages validateRequest="false" />
      <httpRuntime requestValidationMode="2.0" />
    </system.web>
  </location>
  <location path="topic/18/mua-quan-jean-nam-nu-dep-o-dau.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="https://quanjeandep.com/jeans-tag/574/mua-quan-jean-nam-nu-dep-o-dau.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="topic/19/shop-ban-quan-jean-nam-nu-dep-tai-ha-noi.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="https://quanjeandep.com/jeans-tag/575/shop-ban-quan-jean-nam-nu-dep-tai-ha-noi.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="topic/20/cho-nao-ban-quan-jean-nam-nu-dep-tai-jeans-style-cac-ban-nhe.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="https://quanjeandep.com/jeans-tag/576/cho-nao-ban-quan-jean-nam-nu-dep.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="topic/21/mua-quan-jean-nam-nu-xuat-khau-o-dau-dep-mua-o-jean-style.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="https://quanjeandep.com/jeans-tag/577/mua-quan-jean-nam-nu-xuat-khau-o-dau-dep.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="topic/22/cua-hang-ban-quan-jean-dep-tai-ha-noi-jeans-style.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="https://quanjeandep.com/jeans-tag/578/cua-hang-ban-quan-jean-dep-tai-ha-noi-jeans-style.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="topic/25/quan-bo-nam-dep-gia-re-tai-ha-noi-jeans-style.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="https://quanjeandep.com/jeans-tag/579/quan-bo-nam-dep-gia-re-tai-ha-noi.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="topic/26/quan-bo-nu-dep-gia-re-tai-ha-noi-jeans-style.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="https://quanjeandep.com/jeans-tag/580/quan-bo-nu-dep-gia-re-tai-ha-noi.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <location path="topic/27/quan-bo-cap-cao-mua-o-dau-mua-tai-jeans-style.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="https://quanjeandep.com/jeans-tag/581/quan-bo-cap-cao-mua-o-dau.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
   <location path="jeans/2005/quan-jean-nam-trung-nien-ong-thung-tui-cheo-3903.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="https://quanjeandep.com/jeans/2416/quan-jean-nam-trung-nien-ong-thung-tui-cheo-514.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
<location path="jeans/2632/quan-jean-nam-trung-nien-ong-thung-tui-cheo-3903s.aspx">
    <system.webServer>
      <httpRedirect enabled="true" destination="https://quanjeandep.com/jeans/2416/quan-jean-nam-trung-nien-ong-thung-tui-cheo-514.aspx" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  <system.web>
    <machineKey validationKey="57C274F701BD46C6E9E9564E5F16CAE39575C26E8ACB932505EFC27E7CA47B4A084A32C84F99F32BD9CB9743E948820F15CFB276F0246E4425B7E5B05192C8F8" decryptionKey="4B739955B36A3B10E306671CC089E710953182DCAA488139" validation="SHA1" />
    <httpRuntime maxRequestLength="51200" />
    <customErrors mode="Off" defaultRedirect="FileNotFound.aspx">
      <error statusCode="403" redirect="bannedaddress.htm" />
      <error statusCode="404" redirect="FileNotFound.aspx" />
    </customErrors>
    <compilation debug="true" targetFramework="4.0" tempDirectory="D:\vhosts\quanjeandep.com\tmp">
      <expressionBuilders>
        <add expressionPrefix="NopResources" type="NopSolutions.NopCommerce.BusinessLogic.Localization.NopResourceExpressionBuilder, Nop.BusinessLogic" />
      </expressionBuilders>
    </compilation>
    <authentication mode="Forms">
      <forms name="NOPCOMMERCE.AUTH" loginUrl="~/login.aspx" protection="All" timeout="43200" path="/" requireSSL="false" slidingExpiration="true" defaultUrl="~/default.aspx" enableCrossAppRedirects="false" />
    </authentication>
    <anonymousIdentification enabled="true" />
    <authorization>
      <allow users="*" />
    </authorization>
    <membership defaultProvider="NopMembershipSqlProvider" userIsOnlineTimeWindow="15">
      <providers>
        <add name="NopMembershipSqlProvider" type="NopSolutions.NopCommerce.BusinessLogic.Profile.StoreMembershipProvider, Nop.BusinessLogic" connectionStringName="NopSqlConnection" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="NopCommerce" requiresUniqueEmail="true" enablePasswordRetrieval="true" />
      </providers>
    </membership>
    <roleManager enabled="true" cacheRolesInCookie="false" defaultProvider="NopRoleManagerSqlProvider" cookieName=".NopCommerceRoles" cookiePath="/" cookieTimeout="30" cookieRequireSSL="false" cookieSlidingExpiration="true" createPersistentCookie="false" cookieProtection="All">
      <providers>
        <add name="NopRoleManagerSqlProvider" type="NopSolutions.NopCommerce.BusinessLogic.Profile.StoreRoleProvider, Nop.BusinessLogic" connectionStringName="NopSqlConnection" applicationName="NopCommerce" />
      </providers>
    </roleManager>
    <sessionState mode="InProc" cookieless="false" />
    <siteMap defaultProvider="NopAdminXmlSiteMapProvider" enabled="true">
      <providers>
        <add name="NopAdminXmlSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="Administration/Admin.sitemap" />
      </providers>
    </siteMap>
    <pages theme="DarkOrange" validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Collections.Generic" />
        <add namespace="NopSolutions.NopCommerce.BusinessLogic" />
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Audit" />
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Audit.UsersOnline" />
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Categories" />
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Configuration.Settings" />
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Content.Blog" />
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Content.Forums" />
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Content.NewsManagement" />
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Content.Polls" />
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.CustomerManagement" />
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Directory" />
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Infrastructure" />
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Localization" />
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Manufacturers" />
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Measures" />
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Media" />
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Messages" />
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Orders" />
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Payment" />
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Products.Attributes" />
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Products.Specs" />
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Products" />
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Profile" />
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Promo.Affiliates" />
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Promo.Campaigns" />
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Promo.Discounts" />
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Security" />
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.SEO" />
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Shipping" />
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Tasks" />
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Tax" />
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Templates" />
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Utils" />
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Utils.Html" />
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Warehouses" />
        <add namespace="NopSolutions.NopCommerce.Common" />
        <add namespace="NopSolutions.NopCommerce.Common.Utils" />
        <add namespace="NopSolutions.NopCommerce.Common.Utils.Html" />
        <add namespace="NopSolutions.NopCommerce.Controls" />
        <add namespace="NopSolutions.NopCommerce.Controls.Payment.Validators" />
      </namespaces>
      <controls>
        <add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
        <add tagPrefix="nopCommerce" namespace="NopSolutions.NopCommerce.Controls" assembly="Nop.Controls" />
        <add tagPrefix="nopCommerce" namespace="NopSolutions.NopCommerce.Controls.Payment.Validators" assembly="Nop.Controls" />
      </controls>
    </pages>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
      <add verb="*" path="pricelist.csv" validate="false" type="NopSolutions.NopCommerce.BusinessLogic.ExportImport.PricelistHandler, Nop.BusinessLogic" />
    </httpHandlers>
    <httpModules>
      <add name="MembershipHttpModule" type="NopSolutions.NopCommerce.BusinessLogic.Profile.MembershipHttpModule, Nop.BusinessLogic" />
      <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter" />
      <add name="BlacklistHttpModule" type="NopSolutions.NopCommerce.BusinessLogic.Security.BlacklistHttpModule, Nop.BusinessLogic" />
    </httpModules>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Content-Security-Policy" value="default-src *; style-src 'self' http://* 'unsafe-inline'; script-src 'self' http://* 'unsafe-inline' 'unsafe-eval'  www.googletagmanager.com connect.facebook.net&#xD;&#xA;    www.googleadservices.com www.google-analytics.com&#xD;&#xA;    googleads.g.doubleclick.net onesignal.com&#xD;&#xA;    tpc.googlesyndication.com code.jquery.com &#xD;&#xA;    www.facebook.com web.facebook.com facebook.com xfbml.customerchat.js s7.addthis.com analytics.google.com socialplugin.facebook.net Fstaticxx.facebook.com ; img-src 'self' http://* data:;" />
        <add name="Permissions-Policy" value="fullscreen=()" />
        <add name="Referrer-Policy" value="no-referrer" />
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains; preload" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-Xss-Protection" value="1; mode=block" />
        <add name="Cache-Control" value="no-cache, no-store, must-revalidate, pre-check=0, post-check=0, max-age=0, s-maxage=0" />
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
    <staticContent>
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
    </staticContent>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="NopCommerceFilter" />
      <remove name="UrlRewriteModule" />
      <add name="MembershipHttpModule" preCondition="managedHandler" type="NopSolutions.NopCommerce.BusinessLogic.Profile.MembershipHttpModule, Nop.BusinessLogic" />
      <add name="UrlRewriteModule" preCondition="managedHandler" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter" />
      <add name="BlacklistHttpModule" preCondition="managedHandler" type="NopSolutions.NopCommerce.BusinessLogic.Security.BlacklistHttpModule, Nop.BusinessLogic" />
    </modules>
    <handlers>
      <add name="rewrite" path="*" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="None" preCondition="classicMode,runtimeVersionv4.0,bitness64" />
    </handlers>
  </system.webServer>
  <NopConfig>
    <SqlServer ConnectionStringName="NopSqlConnection" />
    <ScheduleTasks>
      <Thread seconds="60">
        <!--do NOT enable ClearCache task if you have enabled tracking online users-->
        <task name="ClearCache" type="NopSolutions.NopCommerce.BusinessLogic.Caching.ClearCacheTask, Nop.BusinessLogic" enabled="false" stopOnError="false" />
        <task name="PurgeOnlineUsers" type="NopSolutions.NopCommerce.BusinessLogic.Audit.UsersOnline.PurgeOnlineUsersTask, Nop.BusinessLogic" enabled="true" stopOnError="false" />
        <task name="Emails" type="NopSolutions.NopCommerce.BusinessLogic.Messages.SendQueuedMessagesTask, Nop.BusinessLogic" enabled="true" stopOnError="false" maxTries="5" />
        <task name="KeepAlive" type="NopSolutions.NopCommerce.BusinessLogic.Utils.KeepAliveTask, Nop.BusinessLogic" enabled="true" stopOnError="false" path="keepalive/ping.ashx" />
      </Thread>
      <Thread seconds="10">
        <task name="DeleteExpiredCustomerSessions" type="NopSolutions.NopCommerce.BusinessLogic.CustomerManagement.DeleteExpiredCustomerSessionsTask, Nop.BusinessLogic" enabled="false" stopOnError="false" deleteExpiredCustomerSessionsOlderThanMinutes="43200" />
        <task name="DeleteExpiredShoppingCarts" type="NopSolutions.NopCommerce.BusinessLogic.Orders.DeleteExpiredShoppingCartsTask, Nop.BusinessLogic" enabled="false" stopOnError="false" deleteExpiredShoppingCartsOlderThanMinutes="259200" />
      </Thread>
      <Thread seconds="10">
        <task name="UpdateExchangeRates" type="NopSolutions.NopCommerce.BusinessLogic.Directory.ExchangeRates.UpdateExchangeRateTask, Nop.BusinessLogic" enabled="true" stopOnError="false" />
      </Thread>
      <Thread seconds="3600">
        <task name="DatabaseMaintance" type="NopSolutions.NopCommerce.BusinessLogic.Maintenance.DatabaseMaintanceTask, Nop.BusinessLogic" enabled="false" stopOnError="false" />
      </Thread>
    </ScheduleTasks>
  </NopConfig>
</configuration>